.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

h1 {
  color: #000;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.ExplanationColumn{
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}
.ExplanationColumn p {
  margin: 0; 
  padding: 0;
}

.priority-button{
  padding: 0.5rem 1rem;
  margin:2px;
  border: solid 0.3px;
  background-color: #B37443;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
}

.move-button{
    padding: 0.5rem 1rem;
    margin:2px;
    border: solid 0.3px;
    background-color: #8DD5AD;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
  }

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 70%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

.task-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-right: 1px solid #ddd;
}

.task-add-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #1976D2;
  color: white;
  cursor: pointer;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  overflow: auto;
  width: 70%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

.delete-button {
  margin-right: 1rem;
  border: none;
  background-color: #D32F2F;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}

.date {
  margin-right: 1rem;
}

.task-text {
  flex-grow: 1;
}